name: Downgrade
on:
  pull_request:
  push:
    branches: [main]
    paths-ignore:
      - 'docs/**'
  workflow_dispatch:

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.num_threads }} threads
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.11'
        os: ['ubuntu-latest']
        num_threads: [1, 2]

    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        id: setup-julia
        with:
          version: ${{ matrix.version }}
          arch: x64
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-downgrade-compat@v2
        with:
          skip: LinearAlgebra,Printf,Statistics
          julia_version: ${{ steps['setup-julia'].outputs.julia-version }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        with:
          allow_reresolve: false
          force_latest_compatible_version: false
        env:
          JULIA_NUM_THREADS: ${{ matrix.num_threads }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          file: lcov.info

  docs:
    name: Documentation - Julia ${{ matrix.version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['1.11']
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        id: setup-julia
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-downgrade-compat@v2
        with:
          skip: LinearAlgebra,Printf,PSIS,Statistics
          projects: ., docs
          julia_version: ${{ steps['setup-julia'].outputs.julia-version }}
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-docdeploy@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GKSwstype: "100"
